@charset "UTF-8";

/* 
    Paleta de Cores:
    cor 1: #222326
    cor 2: #2F3540
    cor 3: #949FA6
    cor 4: #BFA575
    cor 5: #A6855D
*/      

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #222326;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem {
    display: block;
    background: #222326 url(../imagens/entrada.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}